{
    "parserOptions":{
        "ecmaVersion":6,
        "sourctType":"module",
        "ecmaFeatures":{
            "jsx":true//兼容jsx语法
        }
    },
    "rules":{
        "indent":["error",2],//缩进2个空格，报错级别
        "linebreak-style":["error","window"],//换行风格unix,
        "quoter":["error","double"],//双引号
        "semi":["error","always"]//结尾必须带分号
    }
}